.benefits-section2 {
    margin-top: 40px;
}

.benefint-box:nth-child(1n+5) {
    display: none;
}

.benefint-box {
    width: 100%;
    border-radius: 10px;
    background-color: var(--clr-white100);
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}

.benefint-box_number, .benefint-box_button {
    align-self: self-end;
}

.benefint-box_number {
    font-size: var(--size-2xl);
}

.benefint-box_title {
    color: var(--clr-text);
    font-size: var(--size-lg);

}

.benefint-box_description {
    color: var(--clr-muted);
    font-size: var(--size-sm);
}

.benefint-box_button > svg:hover {
    fill: var(--clr-white95);
}

@media (min-width: 810px) {
    .benefint-box:nth-child(1n+5) {
        display: flex;
    }
    
    .benefits-section2 {
        display: grid;
        grid-template-areas: 
        'box1 box2'
        'box3 box4'
        'box5 box6';
        gap: 15px;
        margin-top: 30px;
    }

    .benefint-box {
        margin: 0;
    }

    .box1 {
        grid-area: box1;
    }

    .box2 {
        grid-area: box2;
    }

    .box3 {
        grid-area: box3;
    }

    .box4 {
        grid-area: box4;
    }

    .box5 {
        grid-area: box5;
    }

    .box6 {
        grid-area: box6;
    }

    
    .benefint-box_number {
        font-size: var(--size-3xl);
    }

    .benefint-box_title {
        font-size: var(--size-2xl);
        height: 64px;

    }

    .benefint-box_description {
        font-size: var(--size-base);
        height: 64px;
    }
}

@media (min-width: 1400px) {
    .benefits-section1 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .benefits-section2 {
        grid-template-areas: 
        'box1 box2 box3'
        'box4 box5 box6';
        margin-top: 60px;
    }

    .benefint-box {
        gap: 40px;
    }

    .benefint-box_number {
        font-size: var(--size-4xl);
    }

    .benefint-box_title {
        font-size: var(--size-3xl);
    }

    .benefint-box_description {
        font-size: var(--size-lg);
    }
}

@media (min-width: 1860px) {
    .benefits-section2 {
        margin-top: 80px;
    }
}