.card:nth-child(1n+4) {
    display: none;
}

.cards {
    width: 85%;
    max-width: 1500px;
    margin: 50px auto;
    height: 94px;
    background-color: var(--clr-white100);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(238, 237, 237);
}

.card:nth-child(2n) {
    border-left: 1px solid rgb(238, 237, 237);
    border-right: 1px solid rgb(238, 237, 237);
}

.card {
    width: 33%;
    height: 64px;
}

@media (min-width: 640px) {
    .card:nth-child(4n) {
        display: block;
    }

    .card {
        width: 25%;
        height: 65px;
    }
}


@media (min-width: 750px) {
    .cards {
        margin-top: 60px;
    }
}

@media (min-width: 1024px) {
    .card:nth-child(5n) {
        display: block;
    }

    .card {
        width: 20%;
        height: 66px;
    }
}

@media (min-width: 1280px) {
    .card:nth-child(6n) {
        display: block;
    }

    .card {
        width: 16.66%;
        height: 67px;
    }
}


@media (min-width: 1400px) {
    .cards {
        margin-top: 70px;
    }

    .card:nth-child(7n) {
        display: block;
    }

    .cards {
        height: 116px;
    }

    .card {
        width: 14.28%;
        height: 68px;
    }
}

@media (min-width: 1860px) {
    .cards {
        margin-top: 80px;
        height: 154px;
    }

    .card {
        height: 94px;
    }
}



