.courses-section2 {
    margin-top: 15px;
}

.course-box {
    margin-top: 10px;
    padding: 15px;
    background-color: var(--clr-white100);
    border-radius: 7px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
} 

.course-box_section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.course-box_img >img {
    width: 100%;
}

.course-box_info-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.course-box_info-container > span {
    color: var(--clr-muted);
    font-size: var(--size-xs);
    border: 1px solid var(--clr-white95);
    border-radius: 6px;
    padding: 8px 14px;
}

.course-box_title {
    font-size: var(--size-lg);
}

.course-box_description, .course-box_btn {
    font-size: var(--size-xs);
}

.course-box_description {
    color: var(--clr-muted);
    height: 60px;
}

.course-box_btn {
    background-color: var(--clr-white97);
    color: var(--clr-text);
    font-weight: bold;
    padding: 0.875em 1em;
    border-radius: 6px;
    transition: background-color 0.3s;
}

.course-box_btn:hover {
    background-color: var(--clr-white95);
}

@media (min-width: 1024px) {
    .courses-section2 {
        margin-top: 30px;
        display: grid;
        grid-template-areas:
        'item1 item2'
        'item3 item4'
        'item5 item6';
        gap: 20px;
    }

    .item1 {
        grid-area: item1;
    }

    .item2 {
        grid-area: item2;
    }

    .item3 {
        grid-area: item3;
    }

    .item4 {
        grid-area: item4;
    }

    .item5 {
        grid-area: item5;
    }

    .item6 {
        grid-area: item6;
    }

    .course-box {
        margin: 0;
        gap: 25px;
    }

    
    .course-box_section {
        gap: 20px;
    }
}

@media (min-width: 1400px) {
    .courses-section1 {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .courses-section2 {
        margin-top: 60px;
    }

    .course-box_info-container > span {
        font-size: var(--size-base);
    }

    .course-box_title {
        font-size: var(--size-2xl);
    }

    .course-box_description {
        font-size: var(--size-base);
    }

    .course-box_btn {
        font-size: var(--size-base);
    }
}

@media (min-width: 1860px) {
    .course-box {
        gap: 35px;
    }
 
    .course-box_section {
        gap: 30px;
    }
}
