.footer {
    background-color: var(--clr-white100);
    padding: 50px 20px 24px;
    margin-top: 50px;
}

.footer-logo {
    margin-bottom: 30px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-link {
    display: flex;
    align-items: center;
    gap: 6px;
}

.contact-btn {
    padding: 5px 5px 0;
}

.contact-btn:hover {
    background-color: var(--clr-white95);
}

.footer-link > p {
    font-size: 15px;
    color: var(--clr-title);
}

.footer-section1_item2 {
    margin: 24px 0;
    display: flex;
    gap: 30px;
}

.item2-btns_title {
    margin-bottom: 10px;
}

.item2-btns {
    color: var(--clr-muted);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.item2-btn:hover {
    color: var(--clr-main);
}

.item3-title {
    font-size: 18px;
    font-weight: 650;
    margin-bottom: 10px;
}

.socials-btns {
    display: flex;
    gap: 14px;
}

.socials-btn > svg {
    fill: #F7F7F8;
}

.socials-btn > svg:hover {
    fill: var(--clr-white95);
}

.footer-seperator {
    border-top: 1px solid var(--clr-white95);
    width: 90%;
    margin: 20px auto 10px;
}

.footer-section2 {
    text-align: center;
    font-size: 14px;
    color: var(--clr-gray40);
}

@media (min-width: 1024px) {
    .footer-section1 {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }

    .footer-section1_item1 {
        flex: 0.5;
    }

    .footer-section1_item2 {
        margin: 0;
    }
}

@media (min-width: 1400px) {
    .footer-section2 {
        font-size: 16px;
    }

    .footer-link > p {
        font-size: 16px;
    }
}

@media (min-width: 1860px) {
    .footer-section2 {
        font-size: 18px;
    }

    .item2-btns_title {
        font-size: 20px;
    }

    .footer-link > p {
        font-size: 18px;
    }

    .footer-section2 {
        font-size: 18px;
    }
}
