.hero-item1 {
    background-color: var(--clr-white100);
}

.hero-item1 {
    width: 357px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 1em 0.3em;
    margin-inline: auto;
    border-radius: 8px;
    position: relative;
}

.hero-item1_heading {
    font-size: 20px;
    font-weight: 650;
    color: var(--clr-title);
}

.first-word {
    color: var(--clr-main);
}

.hero-item1_abstract {
    position: absolute;
    top: -15px;
    left: -15px; 
}

.hero-item2 {
    text-align: center;
    margin: 30px auto;
    max-width: 32ch;
}

.hero-title {
    font-size: 28px;
    color: var(--clr-gray15);
    font-weight: 550;
}

.hero-text {
    font-size: 16px;
    color: var(--clr-gray15);
    margin: 15px 0;
}

.hero-item3 {
    /* width: 300px; */
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.hero-item3_btn, .hero-item3_button {
    font-size: 14px;
    font-weight: bold;
    height: 49px;
}

@media (min-width: 1400px) {
    .hero-item1 {
        width: 650px;
    }   

    .hero-item2 {
        max-width: none;
    }
    
    .hero-item1_heading {
        font-size: 40px;
        font-weight: 800;
    }
    
    .hero-title {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 30px;
    }

    .hero-item3_btn, .hero-item3_button {
        font-size: 18px;
        width: 200px;
    }
}

@media (min-width: 1860px) {
    .hero-item1 {
        width: 770px;
        }   
    
    .hero-item1_heading {
        width: 650px;
        font-size: 48px;
        font-weight: 820;
    }

    .hero-title {
        font-size: 38px;
        font-weight: 720;
        margin-bottom: 40px;
    }

    .hero-item3_btn, .hero-item3_button {
        font-size: 18px;
        width: 230px;
    }
}
