.main-btns_container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.main-btns {
    background-color: var(--clr-white100);
    border-radius: 8px;
    padding: 0.75em;
}

.btn2 {
    padding: 12px 18px;
}

.btn2:hover {
    background-color: var(--clr-white95);
}

.pricing-section2 {
    background-color: var(--clr-white100);
    border-radius: 12px;
    padding: 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.pricing-section2_item {
    background-color: var(--clr-white95);
    border-radius: 12px;
    padding: 30px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.pricing-plan {
    background-color: #FFF9F0;
    border: 1px solid #FFEACC;
    border-radius: 4px;
    padding: 0.5em 1.5em;
    text-align: center;
    font-size: var(--size-base);
}

.price {
    font-size: var(--size-5xl);
    text-align: center;
}

.price > span {
    font-size: var(--size-sm);
    font-weight: 500;
    color: var(--clr-muted);
}

.pricing-box {
    background-color: var(--clr-white100);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-bottom: 0;
    padding: 1.25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.pricing-features {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pricing-feature {
    border: 1px solid var(--clr-white95);
    border-radius: 6px;
    padding: 0.75em;
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 10px;
}

.pricing-feature > p {
    color: var(--clr-muted);
    font-size: var(--size-sm);
}

.pricing-box_btn {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 1.15em 1.75em;
    font-size: var(--size-sm);
    font-weight: bold;
}

@media (min-width: 1024px) {
    .pricing-section2 {
        flex-direction: row;
        gap: 30px;
    }

    .pricing-section2_item {
        flex: 1;
    }
}
    .pricing-feature > p, .pricing-box_btn {
        font-size: var(--size-base);
}

@media (min-width: 1400px) {
    .pricing-description {
        max-width: 75ch;
    }

    .main-btns_container {
        margin-top: 0;
    }

    .pricing-section1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 1860px) {
    .pricing-description {
        max-width: 85ch; 
    }
}

