.questions {
    background-color: var(--clr-white100);
    border-radius: 12px;
    padding: 24px !important;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.question-title {
    height: 68px !important;
    max-width: 20ch;
}

.main-description {
    margin-top: 8px;
}

.questions > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main_btn {
    border: 1px solid var(--clr-white95);
}

.main_btn:hover {
    background-color: var(--clr-white95) ;
}

.question {
    border: 1px solid var(--clr-white95);
    border-radius: 10px;
    padding: 1.5em;
    font-size: var(--size-sm);
    display: flex;
    justify-content: space-between;
}

.question h4 {
    max-width: 17ch;
}

.question-btn > svg {
    fill: #FFF4E5;
}

.question-btn > svg :hover {
    fill: #FFEACC;
}

.q1-arrow > svg :hover  {
    fill: var(--clr-white99);
}

.q1 {
    flex-direction: column;
    gap: 20px;
}

.last {
    background-color: var(--clr-white95);
    border-radius: 6px;
    padding: 0.875em 1.25em;
}

.q1-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.seperator {
    border-top: 1px solid var(--clr-white95);
    margin: 20px;
}

@media (min-width: 480px) {
    .question h4 {
        max-width: 30ch;
    }
}

@media (min-width: 800px) {
    .question h4 {
        max-width: 40ch;
    }
}

@media (min-width: 1024px) {
    .questions {
        padding: 40px !important;
    }

    .question {
        font-size: var(--size-base);
    }
}

@media (min-width: 1400px) {
    .questions {
        flex-direction: row;
        justify-content: space-between;
        padding: 80px !important;
    }

    .main-description {
        margin-top: 20px;
    }

    .question {
        font-size: var(--size-lg);
    }

    .question h4 {
        max-width: 45ch;
    }
}

@media (min-width: 1860px) {
    .questions {
        padding: 100px !important;
    }

    .main-description {
        margin-top: 40px;
    }

    .question {
        font-size: var(--size-xl);
    }
}
